<form action="/login" method="POST" class="form-signin">
<input type="text" name="username" placeholder="Email" required="required" autofocus="autofocus" class="form-control"/>
<input type="password" name="password" placeholder="Password" required="required" class="form-control"/>
<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
<span class="clearfix"></span>
</form>