  <% include ../includes/head.ejs %>
  <body>
    <div class="container">
      <div class="page-header">
      </div>
      <div class="messages">
        <% include ../includes/messages.ejs %>
      </div>
      <div class="content">
      </div>
    </div>
  </body>
</html>
