<!doctype html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>PiWatch</title>
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <header>      

<div class="row">
  <div id="nav">
  <nav class="menu1">
    <ul>
        <li> <a href="#"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/home.png">Home</a> </li>
        <li> <a href="settings"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/special-offer.png">Settings</a> </li>
        <li> <a href="#"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/lightbulb.png">Project</a> </li>
        <li> <a href="#"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/hire-me.png">About</a> </li>
    </ul>
  </div>
</div><!-- row -->
    </header>


<div class="row">
  <div class="col two-thirds" id="camera">
    <i id="camera_ico" class="fa fa-video-camera fa-3x"> </i>Camera 1
    <p>Take a look @ home</p>
        <table style="width:50%">
              <tr>
                    <td id="tdStream" > <img id="cam_stream" src="http://10.104.30.116:8081"></td>
              </tr>
              <tr>
                  <td  align="center" >
                    <button id="camera_rec" onClick=""></button>
                    <button id="time_lapse" onClick=""></button>

                  </td>

              </tr>
        </table>  
  </div>

  <div class="col one-third">
      
      <p  align="center"><i class="fa fa-cog "></i> Controls</p>
    <div class="col one-third">
      <table style="">
        <tr>
            <th id="camera_ico" > <i class="fa fa-video-camera fa-2x"> </i></th>
        </tr>
        <tr>
            <th > <img id="bt_ico" src="img/bluetooth.png"> </th>
        </tr>
      </table>

  </div>


  <div class="col two-thirds">

      <table style="">
        <tr>
            <th id="camera_switch" > 
                    <form action="#" method="get">
                      <div>
                        <input type="checkbox" id="camera_btn" name="camera_btn" class="switch" checked="checked" />
                        <label for="camera_btn">Camera</label>
                      </div>
                    </form>
            </th>
        </tr>
        <tr id="bluetooth_switch">
            <td class"bluetooth_switch" > 
                      <form action="#" method="get">
                        <div>
                        <input type="checkbox" id="bt_btn" name="bt_btn" class="switch" checked="checked" />
                        <label for="bt_btn">Bluetooth</label>
                        </div>
                      </form>
            </td>
        </tr>
      </table>

        
  </div>

</div>

  <div class="col one-third">

      <table class="sensor_data" style="">
        <tbody>
          <tr>
            <th > <img id="gaz_ico" src="img/gas-icon.jpg"> </th>
            <th id="temp_ico"> <i id="sun" class="fa fa-sun-o fa-2x"> </i></th>
            <th > <img id="humidity_ico" src="img/humidity_icon.png"> </th>

          </tr>
        <tr>
            <th id="temp_info"> 
              OK
            </th>

            <th id="temp_info" > 
              50 °C
            </th>
            <th id="temp_info" > 
              50 %
            </th>

        </tr>
      </tbody></table>

  </div>





<script type="text/javascript">

</script>


	</body>
</html>