<!doctype html>
<html>
  <head>
    <link id="fav_ico" rel="icon" 
      type="image/png" 
      href="../img/fav_piwatch_logo2.png" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title><%=title%> Home</title>
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <header>      
<div class="row">

  <div id="nav">
      <nav class="menu1">

    <ul>
        <li> <a href="#"><img id="home_ico" src="../img/fav_piwatch_logo2.png">
          Home</a> </li>
        <li> <a href="settings"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/special-offer.png">Settings</a> </li>
        <li> <a href="#"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/hire-me.png">About</a> </li>
    </ul>
        <!-- <img id="logo" src="../img/beta_banner.png">  -->
      </nav>
  </div>
</div><!-- row -->
    </header>


<div class="row">

  <div class="col two-thirds" id="camera">

    <!-- <i id="camera_ico" class="fa fa-video-camera fa-3x"> </i> -->
        <table  style="width:50%">
              <tr>
                    <td id="tdStream" > <img id="cam_stream" src="/api/motion/stream"></td>
              </tr>
              <tr>
                  <td id="button_container" align="center" >
                    <button title="Toggle video recording" id="camera_rec" onClick=""></button>

                    <button title="Toggle Time lapse" id="time_lapse" onClick=""></button>

                  </td>

              </tr>
        </table>  
  </div>

  <div class="col one-third">
      
      <p  align="center"><i class="fa fa-cog fa-2x" <h1>&nbsp Controls</h1> </i>  </p>

    <div class="col one-third">

      <table id="settings_ico" style="width:100%;">
        <tr>
            <th id="camera_ico" > <i title="Toggle camera" class="fa fa-video-camera fa-2x"> </i></th>
        </tr>
        <tr>
            <th id="motion_ico" > <i title="Toggle motion detection" class="fa fa-street-view fa-2x"> </i> </th>
        </tr>
        <tr>
            <th id="notif_ico" > <i title="Toggle notifications" class="fa fa-bell fa-2x"></i> </th>
        </tr>

        <tr>
            <th id="sms_ico" > <i title="Toggle SMS service" class="fa fa-envelope fa-2x"> </i></th>
        </tr>
        <tr>
            <th id="beacon_ico"> <img title="Toggle beacon" id="beacon_ico" src="img/beacon_ico.png"></th>
        </tr>
      </table>

  </div>


  <div class="col two-thirds">

      <table style="width:60%;">
        <tr>
            <td class="bluetooth_switch" >
            <span id="switch">
               <a title="Toggle camera" href="#" class="toggle toggle-on"></a>
            </span>
            </td>
        </tr>
        <tr id="motion_switch">
            <td class="motion_switch" >
                <span id="switch">
                 <a title="Toggle motion detection" href="#" class="toggle toggle-on"></a>
              </span> 
            </td>
        </tr>
        <tr id="notification_switch">
            <td class="notification_switch" >
                <span id="switch">
                 <a title="Toggle notifications" href="#" class="toggle toggle-on"></a>
              </span> 
            </td>
        </tr>
        <tr>
            <td class="bluetooth_switch" >
            <span id="switch">
               <a title="Toggle SMS services" href="#" class="toggle toggle-on"></a>
            </span>
            </td>
        </tr>

        <tr>
            <td class="bluetooth_switch" >
            <span id="switch">
               <a title="Toggle beacon" href="#" class="toggle toggle-on"></a>
            </span>
            </td>
        </tr>
      </table>

        
  </div>

</div>

  <div class="col one-third">
      <p  align="center"><i class="fa fa-bar-chart fa-2x" <h1>&nbsp Sensor data</h1> </i> 
        <img id="logo_beta" src="../img/beta_banner.png"> 

       </p>

      <table class="sensor_data" style="">
        <tbody>
          <tr>
            <th > <img id="gaz_ico" src="img/gaz_ico.png"> </th>
            <th >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th id="temp_ico"> <i align="center" id="sun" class="fa fa-sun-o fa-2x"> </i></th>
            <th >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
            <th > <img id="humidity_ico" src="img/humidity_icon.png"> </th>
          </tr>
        <tr>
            <th id="temp_info"> 
              OK
            </th>
            <th >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>

            <th id="temp_info" > 
              16 °C
            </th>
              
              <th >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>

            <th id="temp_info" > 
              23 %
            </th>

        </tr>
      </tbody></table>

  </div>





    <script type="text/javascript">
    $('.toggle').click(function(e) {
      var toggle = this;
      
      e.preventDefault();
      
      $(toggle).toggleClass('toggle-on')
        .toggleClass('toggle-off')
        .addClass('toggle-moving');
      
      setTimeout(function() {
        $(toggle).removeClass('toggle-moving');
      }, 200)
    });

    </script>


	</body>
</html>