<!doctype html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>PiWatch</title>
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <header>      

<div class="row">
  <div class="col three-thirds">
    <p id="title">Two Thirds</p>
  </div>
</div><!-- row -->
    </header>

<div class="row">
  <div class="col two-thirds">
    <p>Two Thirds</p>
  </div>
  <div class="col one-third">
    <p>One Third</p>
  </div>
</div><!-- row -->

<div class="row">
  <div class="col thirds">
    <p>Three Column</p>
  </div>
  <div class="col thirds">
    <p>Three Column</p>
  </div>
  <div class="col thirds">
    <p>Three Column</p>
  </div>
</div><!-- row -->

<div class="row">
  <div class="col one-third">
    <p>One Third</p>
  </div>
  <div class="col two-thirds">
    <p>Two Thirds</p>
  </div>
</div><!-- row -->

	</body>
</html>