<!doctype html>
<html>
  <head>
    <link id="fav_ico" rel="icon" 
      type="image/png" 
      href="../img/fav_piwatch_logo2.png" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>PiWatch Settings</title>
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <header>      

  <header>      

<div class="row">
  <div id="nav">
  <nav class="menu1">
    <ul>
        <li> <a href="/"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/home.png">Home</a> </li>
        <li> <a href="settings"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/special-offer.png">Settings</a> </li>
        <li> <a href="#"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/lightbulb.png">Project</a> </li>
        <li> <a href="#"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/hire-me.png">About</a> </li>
    </ul>
  </div>
</div><!-- row -->
    </header>

    </header>

<div class="row">
  <div class="col thirds">
    <p title="Default:/dev/video0 (FreeBSD: /dev/bktr0)">Videodevice<input type="text" placeholder="Default:/dev/video0 (FreeBSD: /dev/bktr0)" id="videodevice" >
    </p>
    <p title="Default: 352">Width<input type="number" min="0" max="" step="" value="" placeholder="Default:352" id="width"/> 
    </p>
    <p title="Default:352">Height<input type="number" min="0" max="" step="" value="" placeholder="Default:352" id="height"/>
    </p>
    <p title="Values: 2 - 100">Framerate<input type="text" value="" placeholder="Values: 2 - 100" id="framerate">
    </p>  
    <p title="Values: 0 - 255">Brightness<input type="text" value="" placeholder="Values: 0 - 255" id="brightness">
    </p>  
    <p title="Values: 0 - 255">Contrast<input type="text" value="" placeholder="Values: 0 - 255" id="contrast">
    </p>  
    <p title="Values: 0 - 255">Hue<input type="text" placeholder="Values: 0 - 255" id="hue" value="" id="hue">
    </p>  
    <p title="Values:  1 - 2147483647">Threshold<input type="text" placeholder="Default: 1500" value="" id="threshold">
    </p>  
    <p title="Values: 0 - 100">Lightswitch<input type="text" placeholder="Default: 0 (disabled)" value="" id="lightswitch">
    </p>  
    <p title="Values: 0 -  2147483647">Gap<input type="text" placeholder="Default:60" value="" id="gap">
    </p>  
    <p title="Values: 1 - 100">Quality<input type="text" placeholder="Default:75" value="" id="quality">
    </p>  
    <p title="Values: 0 - infinite">max_mpeg_time<input type="text" placeholder="Default: 3600" value="" id="max_mpeg_time">
    </p>  
    <p title="Values: 0 -  2147483647">ffmpeg_timelapse<input type="text" placeholder="Default: 0 (disabled)" value="" id="ffmpeg_timelapse">
    </p>  
    <p title="Values: 0 -  9999999">ffmpeg_bps<input type="text" value="" placeholder="Default: 400000" id="ffmpeg_bps">
    </p>  
    <p title="Values: 0 -  2147483647">snapshot_interval<input type="text" value="" placeholder="Default: 0 (disabled)" id="snapshot_interval">
    </p>  
    
  </div>

<div class="col thirds">
 
    <p title="Values: Max 4095 characters">text_right<input type="text" value="" placeholder="Default: %Y-%m-%d\n%T " id="text_right">
    </p>  
    <p title="Values: Max 4095 characters">text_left<input type="text" value="" placeholder="Default: Not defined " id="text_left">
    </p> 



    

    <p title="Values: Max 4095 characters">text_event<input type="text" value="" placeholder="Default: %Y%m%d%H%M%S" id="text_event">
    </p>  
    <p title="Values: Max 4095 characters">target_dir<input type="text" value="" placeholder=" Not defined = current working directory " id="target_dir">
    </p>  
    <p title="Values: Max 4095 characters">snapshot_filename<input type="text" value="" placeholder="Default: %v-%Y%m%d%H%M%S-snapshot " id="snapshot_filename">
    </p>  
    <p title="Values: Max 4095 characters">jpeg_filename<input type="text" value="" placeholder="Default: %v-%Y%m%d%H%M%S-%q " id="jpeg_filename">
    </p>  
    <p title="Values: Max 4095 characters">movie_filename<input type="text" value="" placeholder="Default: %v-%Y%m%d%H%M%S " id="movie_filename">
    </p>  
    <p title="Values: Max 4095 characters">timelapse_filename<input type="text" value="" placeholder="Default: %v-%Y%m%d-timelapse " id="timelapse_filename">
    </p>  
    <p title="Values: 1 - 100">webcam_maxrate<input type="text" value="" placeholder="Default: 1" id="webcam_maxrate">
    </p>  
    <p title="Values: 0 - 65535">webcam_port<input type="text" value="" placeholder="Default: 50" id="webcam_port">
    </p>  
    <p title="Values: 0 - 100">webcam_quality<input type="text" value="" placeholder="Default: 50" id="webcam_quality">
    </p>  
  </div>


  <div class="col thirds">
    <p title="Values: 0 - 255">text_changes
        <span id="switch">
         <a href="#" id="text_changes" class="toggle toggle-on"></a>
      </span>
    </p>  

      <p>webcam_localhost
      <span id="switch">
         <a href="#" id="webcam_localhost" class="toggle toggle-on"></a>
      </span>
      </p>
    <p>output_normal
      <span id="switch">
         <a href="#" id="output_normal" class="toggle toggle-on"></a>
      </span>

    </p>
    <p>control_localhost
      <span id="switch">
         <a href="#" id="control_localhost" class="toggle toggle-on"></a>
      </span>

    </p>
    <p>control_html_output
      <span id="switch">
         <a href="#" id="control_html_output" class="toggle toggle-on"></a>
      </span>

    </p>  
    <p>output_normal
      <span id="switch">
         <a href="#" id="output_normal" class="toggle toggle-on"></a>
      </span>

    </p>  
    <p>output_motion
      <span id="switch">
         <a href="#" id="output_motion" class="toggle toggle-on"></a>
      </span>

    </p>  
    <p>auto_brightness
      <span id="switch">
         <a href="#" id="auto_brightness" class="toggle toggle-on"></a>
      </span>

    </p>  
    <p>ffmpeg_cap_new
      <span id="switch">
         <a href="#" id="ffmpeg_cap_new" class="toggle toggle-on"></a>
      </span>

    </p>  
    <p>ffmpeg_cap_motion
      <span id="switch">
         <a href="#" id="ffmpeg_cap_motion" class="toggle toggle-on"></a>
      </span>
    </p>  
    <p>locate
      <span id="switch">
         <a href="#" id="locate" class="toggle toggle-on"></a>
      </span>
    </p>  
    <p>text_double
      <span id="switch">
         <a href="#" id="text_double" class="toggle toggle-on"></a>
      </span>
    </p>  
    <p>webcam_motion
          <span id="switch">
         <a href="#" id="webcam_motion" class="toggle toggle-on"></a>
      </span></p>  
    <p>ffmpeg_timelapse_mode
        <select id="ffmpeg_timelapse_mode" class="options_input">
          <option value="daily">daily</option>
          <option value="hourly">hourly</option>
          <option value="weekly-sunday">weekly-sunday</option>
          <option value="weekly-monday">weekly-monday</option>
          <option value="monthly">monthly</option>
          <option value="manual">manual</option>
        </select>
    </p>  
    <p>ffmpeg_video_codec
        <select id="ffmpeg_video_codec" class="options_input">
          <option value="mpeg4">mpeg4</option>
          <option value="mpeg1">mpeg1</option>
          <option value="msmpeg4">msmpeg4</option>
          <option value="swf">swf</option>
          <option value="flv">flv</option>
          <option value="ffv1">ffv1</option>
          <option value="mov">mov</option>
        </select>
    </p>  
</div>
  
</div><!-- row -->

	</body>
  <script type="text/javascript">
  $('.toggle').click(function(e) {
  var toggle = this;
  
  e.preventDefault();
  
  $(toggle).toggleClass('toggle-on')
    .toggleClass('toggle-off')
    .addClass('toggle-moving');
  
  setTimeout(function() {
    $(toggle).removeClass('toggle-moving');
  }, 200)
});
</script>
</html>