<!doctype html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>PiWatch</title>
    <link rel="stylesheet" href="css/style2.css">
  </head>
  <body>
    <header>      

  <header>      

<div class="row">
  <div id="nav">
  <nav class="menu1">
    <ul>
        <li> <a href="/"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/home.png">Home</a> </li>
        <li> <a href="settings"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/special-offer.png">Settings</a> </li>
        <li> <a href="#"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/lightbulb.png">Project</a> </li>
        <li> <a href="#"><img src="http://cdn1.iconfinder.com/data/icons/dortmund/Dortmund-32x32/hire-me.png">About</a> </li>
    </ul>
  </div>
</div><!-- row -->
    </header>

    </header>

<div class="row">
  <div class="col two-thirds">
    <p>Two Thirds</p>
  </div>
  <div class="col one-third">
    <p>One Third</p>
  </div>
</div><!-- row -->

<div class="row">
  <div class="col thirds">
    <p>Videodevice<input type="text" name="firstname">
    </p>
    <p>Width<input type="number" min="0" max="1080" step="2" value="352" name="some-name"/> 
    </p>
    <p>Height<input type="number" min="0" max="20" step="2" value="10" name="some-name"/>
    </p>
    <p>Framerate<input type="text" name="firstname">
    </p>  
    <p>Brightness<input type="text" name="firstname">
    </p>  
    <p>Contrast<input type="text" name="firstname">
    </p>  
    <p>Hue<input type="text" name="firstname">
    </p>  
    <p>Threshold<input type="text" name="firstname">
    </p>  
    <p>Lightswitch<input type="text" name="firstname">
    </p>  
    <p>Gap<input type="text" name="firstname">
    </p>  
    <p>max_mpeg_time<input type="text" name="firstname">
    </p>  
    <p>Quality<input type="text" name="firstname">
    </p>  
    <p>ffmpeg_timelapse<input type="text" name="firstname">
    </p>  
    <p>ffmpeg_bps<input type="text" name="firstname">
    </p>  
    <p>snapshot_interval<input type="text" name="firstname">
    </p>  
    
  </div>

<div class="col thirds">
 
    <p>text_right<input type="text" name="firstname">
    </p>  
    <p>text_left<input type="text" name="firstname">
    </p>  
    <p>text_changes<input type="text" name="firstname">
    </p>  
    <p>text_event<input type="text" name="firstname">
    </p>  
    <p>target_dir<input type="text" name="firstname">
    </p>  
    <p>snapshot_filename<input type="text" name="firstname">
    </p>  
    <p>jpeg_filename<input type="text" name="firstname">
    </p>  
    <p>movie_filename<input type="text" name="firstname">
    </p>  
    <p>timelapse_filename<input type="text" name="firstname">
    </p>  
    <p>webcam_maxrate<input type="text" name="firstname">
    </p>  
    <p>webcam_port<input type="text" name="firstname">
    </p>  
    <p>webcam_quality<input type="text" name="firstname">
    </p>  
  </div>


  <div class="col thirds">
    <p>webcam_localhost
        <input type="checkbox" id="camera_btn" name="camera_btn" class="switch" checked="checked" />
        <label for="camera_btn">&nbsp</label>
    </p>
    <p>output_normal        <input type="checkbox" id="camera_btn" name="camera_btn" class="switch" checked="checked" />
        <label for="camera_btn">&nbsp</label>
    </p>
    <p>control_localhost        <input type="checkbox" id="camera_btn" name="camera_btn" class="switch" checked="checked" />
        <label for="camera_btn">&nbsp</label>
    </p>
    <p>control_html_output        <input type="checkbox" id="camera_btn" name="camera_btn" class="switch" checked="checked" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>output_normal        <input type="checkbox" id="camera_btn" name="camera_btn" class="switch" checked="checked" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>output_motion        <input type="checkbox" id="camera_btn" name="camera_btn" class="switch" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>auto_brightness<input type="checkbox" id="camera_btn" name="camera_btn" class="switch" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>ffmpeg_cap_new<input type="checkbox" id="camera_btn" name="camera_btn" class="switch" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>ffmpeg_cap_motion<input type="checkbox" id="camera_btn" name="camera_btn" class="switch" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>locate<input type="checkbox" id="camera_btn" name="camera_btn" class="switch" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>text_double<input type="checkbox" id="camera_btn" name="camera_btn" class="switch" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>webcam_motion<input type="checkbox" id="camera_btn" name="camera_btn" class="switch" />
        <label for="camera_btn">&nbsp</label>
    </p>  
    <p>ffmpeg_timelapse_mode
        <select>
          <option value="daily">daily</option>
          <option value="hourly">hourly</option>
          <option value="weekly-sunday">weekly-sunday</option>
          <option value="weekly-monday">weekly-monday</option>
          <option value="monthly">monthly</option>
          <option value="manual">manual</option>
        </select>
    </p>  
    <p>ffmpeg_video_codec
        <select>
          <option value="mpeg4">mpeg4</option>
          <option value="mpeg1">mpeg1</option>
          <option value="msmpeg4">msmpeg4</option>
          <option value="swf">swf</option>
          <option value="flv">flv</option>
          <option value="ffv1">ffv1</option>
          <option value="mov">mov</option>
        </select>
    </p>  
</div>
  
</div><!-- row -->

<div class="row">
  <div class="col one-third">
    <p>One Third</p>
  </div>
  <div class="col two-thirds">
    <p>Two Thirds</p>
  </div>
</div><!-- row -->

	</body>
</html>