body {
  padding: 2em;
  background: #eee;
  box-sizing: border-box;
  background-image:  url("../img/body_background.jpg");
  background-size:cover;
  padding: 2% 20%;

}

p { margin: 1em; }

.row {
  margin-bottom: 2em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  background: white;
  float: left;
  border-radius: 3%;

  margin-right: 1%;
  margin-left: 1%;
}
.col:last-of-type {
  margin-right: 0;
}

.thirds,
.one-third {
  width: 30%;
}
.two-thirds {
  width: 65%;
}
.three-thirds {
  width: 99%;
}

@media (max-width: 400px) {
  .frame { border: 6px solid white; }
  .col { margin-right: 0; margin-bottom: .5em;  width: 100%; }
}

@media (max-width: 300px) {
  .col { background: orange; }
  .one-third { display: none; }
}

#camera_rec {
    width: 40px;
    height: 40px;
    background-size: 35px 35px;
    background-image: url("../img/start_rec.png");
    border-radius: 25%;
      background-size:cover;


#camera_ico { 
  margin-left: 5%;
}

}
#time_lapse {
    width: 40px;
    height: 40px;
    background-size: 35px 35px;
    background-image: url("../img/time_lapse.png");
  background-size:cover;

    border-radius: 25%;
}


  
.round { border-radius:1000px; }

.base {

  position:relative;
  width:50px;
  height:30px;
  padding:6px 6px 6px;
  background:#f8f8f8;
  box-shadow:inset 0px 0px 6px rgba(0,0,0,0.33);
  transition: all 0.125s ease-out;
  float: right;
  margin-left: 116px;
}

.switch {
  position:relative;
  width:20px;
  height:20px;
  left:0px;
  background:red;
  box-shadow:inset 0px 0px 6px rgba(0,0,0,0.33);
  transition: all 0.125s ease-out;
  color:#fff;
  }

.symbol {
  position:absolute;
  margin:3px;
  width:8px;
  height:8px;
  background:transparent;
  border:3px solid #fff;
  }

.label {
  position:relative;
  margin: 0 auto;
  color:red;
  }
  .label:after { content:"Off"; }

.toggleBase{
  background:#fcfcfc;
  box-shadow:inset 0px 0px 3px rgba(0,0,0,0.33);
  }

.toggleSwitch{
  left:20px;
  width:20px;
  height:20px;
  background:green;
  box-shadow:inset 0px 0px 10px       rgba(0,0,0,0.33);
  }

.toggleSymbol{
  position:absolute;
  margin:3px 4px;
  left:4px;
  width:4px;
  height:14px;
  background:#fff;
  border:0px solid #fff;
  border-radius:1000px;
  }

.toggleLabel { color:green; }
  .toggleLabel:after{ content:"On"; }

#camera_switch{
      line-height:30px;

}

#sun{
  margin-left: 12px;
}
#cam_stream{
  width:480px;
  height:360px;
  padding: 2%;
  border: 3px solid black;
  border-radius: 2%;

}


#tdStream{

    border-top-left-radius: 32px;
    padding-left: 51px;
}

#bt_ico{
  height: 28px;
  width: 28px;

}
#gaz_ico{
  height: 32px;
  width: 32px;

}


tr.bluetooth_switch > td
{
  padding-bottom: 1em;
}

#{

}
#temp_info{
  font-size: 1.6em;
}

#gaz_info{
  font-size: 1.6em;
}

table.sensor_data th {
    padding: 20px;
    margin-left: 19px;
}

table.sensor_data {
    margin-left: 19px;
}


#humidity_ico{
  height: 32px;
  width: 32px;
}

#temp_info{
  font-size: 1.6em;
}



/*BUTTONS*/
form
{
  margin: 0px 0;
}

div
{
  margin: 0 50px;
}

input.switch:empty
{
  margin-left: -1999px;
}

input.switch:empty ~ label
{
  position: relative;
  float: left;
  line-height: 0.9em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #c33;
  border-radius: 0.3em;
  box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
  background-color: #393;
}

input.switch:checked ~ label:after
{
  margin-left: 2.1em;
}


input{
  float: right;
  width: 50%;
}












/*MENU*/
div#nav{
  text-align: center;
}
div#nav ul{
  display: inline-block;
}


nav.menu1{ 
  margin: 1%;
      list-style-type: none;
}

nav.menu1 ul{
    list-style: none;
    margin: 0; padding: 0;
}

nav.menu1 ul li{  
    display: inline-block; 
     margin-right: -5px; /* http://goo.gl/PgDFb */
}

nav.menu1 ul li a img{ 
vertical-align: -9px;
margin: 0;
padding: 0 0px 0 0;
opacity: 0.7;
}

nav.menu1 ul li a{
      list-style-type: none;
  
    display: inline-block;
    padding: 15px 25px;
    
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    box-shadow: inset -1px 0 1px rgba(0,0,0, 0.2),
    inset 1px 0 1px rgba(0,0,0, 0.2),
                inset 0 -29px rgba(0,0,0, 0.08);
}


nav.menu1 ul li a:hover{
    background: #eee;
    color: #000;
    padding: 15px 40px;
}

nav.menu1 ul li a:active{
   background: #ccc;
}
