body {
  padding: 2em;
  background: #eee;
  box-sizing: border-box;
  background-image:  url("../img/body_background.jpg");
  background-size:cover;
  padding: 2% 20%;

}

p { margin: 1em; }

.row {
  margin-bottom: 2em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  background: ;
  float: left;
  border-radius: 1%;

  margin-right: 1%;
  margin-left: 1%;
}
.col:last-of-type {
  margin-right: 0;
}

.thirds,
.one-third {
  width: 30%;
}
.two-thirds {
  width: 65%;
}
.three-thirds {
  width: 99%;
}

@media (max-width: 400px) {
  .frame { border: 6px solid white; }
  .col { margin-right: 0; margin-bottom: .5em;  width: 100%; }
}

@media (max-width: 300px) {
  .col { background: orange; }
  .one-third { display: none; }
}

#camera_rec {
    width: 40px;
    height: 40px;
    background-size: 35px 35px;
    background-image: url("../img/start_rec.png");
    border-radius: 25%;
      background-size:cover;

}
#camera_ico { 
  margin-left: 55%;
}


#time_lapse {
    width: 40px;
    height: 40px;
    background-size: 35px 35px;
    background-image: url("../img/time_lapse.png");
  background-size:cover;

    border-radius: 25%;
}


#camera_switch{
      line-height:30px;

}

#sun{
  padding-right: 25%;
}
#cam_stream{
  width:480px;
  height:360px;
  padding: 0%;
  border: 3px solid black;
  border-radius: 2%;

}

#home_ico{
  width: 38px;
  height: 38px;
}
#tdStream{

    border-top-left-radius: 32px;
    padding-left: 51px;
}


#gaz_ico{
  height: 36px;
  width: 36px;

}

#beacon_ico{
  height: 36px;
  width: 36px;

}

tr.bluetooth_switch > td
{
  padding-bottom: 1em;
}

#temp_info{
  font-size: 1em;
}

#gaz_info{
  font-size: 1.6em;
}

table.sensor_data th {
    padding: 1px;
    margin-left: 1px;
}

table.sensor_data {
    margin-left: 15%;
}

table#settings_ico tr,th{
  text-align: right;
}

#humidity_ico{
  height: 32px;
  width: 32px;
  margin-right: 25%;
}

#temp_info{
  font-size: 1.6em;
}

#button_container  {
  padding-top: 2%;
}

/*BUTTONS*/
#switch{
  float: right;
}
.options_input{
  float: right;
  width: 40%;
  color: green;
  background: #263238;
  border: 0.2em solid #263238;
  border-radius: 25%;
}

.options_input option {
      color: green;

}

.toggle {
  position: relative;
  display: inline-block;
  margin: 0 8%;
  width: 6.2em;
  height: 1.9em;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 100px;
  border: 2px solid #546E7A;
  background-color: #263238;
  transition: all 500ms;
}

.toggle:active { background-color: #1c2429; }

.toggle:hover:not(.toggle-moving):after { background-color: #455A64; }

.toggle:after {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: calc(50% - 4px);
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  background-color: #37474F;
  border: 2px solid;
  transition: all 500ms;
}

.toggle-on:after {
  content: 'On';
  border-radius: 50px 5px 5px 50px;
  color: #66BB6A;
}
.toggle-off:after {
  content: 'Off';
  border-radius: 5px 50px 50px 5px;
  transform: translate(100%, 0);
  color: #f44336;
}
.toggle-moving { background-color: #1c2429; }

.toggle-moving:after {
  color: transparent;
  border-color: #435862;
  background-color: #222c31;
  transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
}

/*
a.toggler {
    background: green;
    cursor: pointer;
    border: 2px solid black;
    border-right-width: 15px;
    padding: 0 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s ;
}

a.toggler.off {
    background: red;
    border-right-width: 2px;
    border-left-width: 15px;
}*/

/**/
form
{
  margin: 0px 0;
}

div
{
  margin: 0 50px;
}

input.switch:empty
{
  margin-left: -9999px;
}

input.switch:empty ~ label
{
  position: relative;
  float: left;
  line-height: 0.9em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #c33;
  border-radius: 0.3em;
  box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
  background-color: #393;
}

input.switch:checked ~ label:after
{
  margin-left: 2.1em;
}


input{
  float: right;
  width: 50%;
}












/*MENU*/
div#nav{
  text-align: center;
}
div#nav ul{
  display: inline-block;
}


nav.menu1{ 
  margin: 1%;
      list-style-type: none;
}

nav.menu1 ul{
    list-style: none;
    margin: 0; padding: 0;
}

nav.menu1 ul li{  
    display: inline-block; 
     margin-right: -5px; /* http://goo.gl/PgDFb */
}

nav.menu1 ul li a img{ 
vertical-align: -9px;
margin: 0;
padding: 0 0px 0 0;
opacity: 1;
}

nav.menu1 ul li a{
    list-style-type: none;
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.1em;
    color: #333;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2) inset, 
    0px 0px 0px rgba(0, 0, 0, 0.2) inset,
     0px -10px rgba(0, 0, 0, 0.08) inset;
    /*box-shadow: inset -1px 0 1px rgba(0,0,0, 0.2),
    inset 1px 0 1px rgba(0,0,0, 0.2),
    inset 0 -29px rgba(0,0,0, 0.08);*/
}


nav.menu1 ul li a:active{
   background: #ccc;
}

h2{
  text-align: center;
}
h1{
  text-align: center;
}

#logo{
  height: 11%;
  width: 11%;

}
#logo_space{
  width: auto;
  height: auto;
}